.presentacion-container {
    background-image: url('/miguelina-page/assets/img/rd.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    width: 86vw;
    height: 93vh;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 0vh;
    background-color: #fffc;
    padding: 7vw;
    border-radius: 10px;
    height: fit-content;
    align-content: flex-start;
    margin-top: 20%;
    display: inline-block;
}

.profile-pic {
    width: 59%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 7vw;
    margin: 0;
}

h2 {
    font-size: 4vw;
    color: #615d5d;
    margin-bottom: -1vh;
}

p {
    font-size: 2.7vw;
    color: #666;
}
 
.contact-buttons {
    margin-top: 15vh;
    width: 73vw;
    height: 20vh;
    padding: 1vw 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-buttons button {
    margin-right: 3vw;
    padding: 2vw 1vh;
    border: none;
    border-radius: 21px;
    background-color: #fffc;
    width: 22vw;
    height: fit-content;
    margin-bottom: 3vw;
}

.contact-buttons img {
    width: 80%;
}

.contact-buttons button:hover {
    background-color: #0056b3;
}