.presentacion-container {
    background-image: url('/assets/img/rd.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    width: 86vw;
    height: 93vh;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    height: 30%;
    align-content: center;
    margin-top: 60%;
    display: flow;
}

.profile-pic {
    width: 50%;
    height: 71%;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 7vw;
    margin: 0;
}

p {
    font-size: 2.7vw;
    color: #666;
}
 
.contact-buttons {
    margin-top: 19vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.contact-buttons button {
    margin-right: 3vw;
    padding: 2vw 2vw;
    border: none;
    border-radius: 21px;
    background-color: #fffc;
    width: 22vw;
    height: 10vh;
}

.contact-buttons img {
    width: 80%;
}

.contact-buttons button:hover {
    background-color: #0056b3;
}